body, html 
{
  height: 100%;
  padding: 0;
}
.carousel 
{
  height: 50%;
  width: 50%;
  margin-left: 300px;
  margin-bottom: 0; /*No dar separación al carousel*/
}

.carousel-inner, .carousel-inner > .item, .carousel-inner > .item > img 
{
	width: 100%;
	height: 100%;
}